@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~@blueprintjs/datetime2/lib/css/blueprint-datetime2.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";

@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer components {
  .input-text {
    @apply block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
  .label-text {
    @apply block text-sm font-medium leading-6 text-gray-900;
  }
  .suggestion-item {
    @apply block px-2  text-sm text-gray-600 absolute w-full flex flex-col gap-y-1.5 bg-white;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgba(214, 219, 220, 1),
    rgb(255, 255, 255)
  ) !important;
}
h2 {
  color: #333;
  font-size: 21px;
  font-weight: bold;
}
.input-error {
  outline: 1px solid red;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
